---
import Default from '@astrojs/starlight/components/PageFrame.astro'
import BixalLogo from "../assets/bixal-logo.svg"
---

<Default>
  <slot name="header" slot="header" />
  <slot name="sidebar" slot="sidebar" />
  <slot />
</Default>

<footer class="site-footer">
  <a href="https://bixal.com"><BixalLogo width="70" aria-label="Bixal logo"/></a> <span>©️ 2025</span>
</footer>

<style>
  .site-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    background-color: var(--sl-color-bg);
    border-top: 1px solid var(--sl-color-hairline-shade);
    position: relative;
    z-index: 9999;
    /* background: red; */
    padding: calc(var(--sl-nav-pad-y) * 2) var(--sl-nav-pad-x);

    svg {
      fill: white;
    }

    span {
      line-height: 1;
    }
  }

  :root[data-theme='light'] {
    .site-footer svg {
      fill: initial;
    }
  }
</style>
